{% extends "base.html" %}

{% block content %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To BeWisely!</div>
                <div class="masthead-heading text-uppercase">Learn How To Cut Your Food Carbon Footprint!</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#calculator">Let's Go! </a>
            </div>
        </header>
        <!-- Calculator-->
        <section class="page-section" id="calculator">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Calculator</h2>
                    <h5 class="section-subheading text-muted">You can start calculating to see how much you can reduce your food carbon footprint by choosing an alternative ingredient</h5>
                </div>
                        <h4 class="my-3">Select Food or Drink to replace</h4>
                        <!--<p class="text-muted">Maybe put some text here in the future if necessary.</p>-->
                        {% for msg in get_flashed_messages() %}
                        <h1>{{ msg }}</h1>
                        {% endfor %}
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.food1_select.label }}<br>
                                {{ form.food1_select(size=6)}}</br>
                            </p>
                            <p>{{ form.submit() }}</p>
                            <p><b>OR</b></p>
                            <p>
                                {{ form.drink1_select.label }}<br>
                                {{ form.drink1_select(size=6)}}</br>
                            </p>
                            <p>{{ form.submit() }}</p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
